---
layout: standard
---
%h1 
  Archive for #{page.group} 
- if page.posts
  - page.posts.each do |post|
    .post.hentry
      %h2
        %a{:href=>post.url}= post.title
      %p.postmetadata
        Posted
        = post.date.strftime('%Y-%m-%d')
        in
        = post.category_links(:delimiter => " » ") 

      %p.postmetadata
        Tags:
        = post.tag_links

      .entry
        - if post.summary
          = post.summary
          %p
            %a{:href => post.url} Read More »
        -else
          = post.content


