---
layout: standard
---
- if page.category.nil?
  %h2 A category name is required
- else
  %h2 
    Archive for the ‘#{page.category.name}’ Category
    - if page.category.children?
      and Its Children
  - if page.pages
    - page.pages.each do |post|
      .post.hentry
        %h2
          %a{:href=>post.url}= post.title
        - if post.date && post.categories
          %p.postmetadata
            Posted
            - if post.date
              = post.date.strftime('%Y-%m-%d')
            - if post.categories
              in
              = post.category_links(:delimiter => " » ") 

        %p.postmetadata
          Tags:
          = post.tag_links

        .entry
          - if post.summary
            = post.summary
            %p
              %a{:href => post.url} Read More »
          -else
            = post.content
