---
layout: base
---
#left-column
  -if page.download.is_a?(Hash)
    .widget
      .border
        #download.center.inner
          %h2
            Download #{page.download[:name]}
          %a{:href => page.download.fetch(:tgz, page.download[:zip])[:url] }
            %img{:src => "http://c5.simulacre.org/images/download0a.png"}
          - if page.download[:version]
            %p.small-print= page.download[:version]
          %p.small-print
            %a{:href => "#{page.download[:zip][:url]}"}
              zip 
              - if page.download[:zip][:size]
                (#{page.download[:zip][:size]})
            - if page.download.include?(:tgz)
              |
              %a{:href => "#{page.download[:tgz][:url]}"}
                tgz
                - if page.download[:tgz][:size]
                  (#{page.download[:tgz][:size]})
  = partial( 'sidebar.html.haml' )

#right-column
  -# add tag-[TAG] classes
  .post.hentry
    .entry
      %h2= page.title
      %p.postmetadata
        - if page.date || page.categories
          Posted:
          - unless page.date.nil?
            = page.date.strftime('%Y-%m-%d')
          - if page.categories
            in
            = page.category_links( :delimiter => " » ")

      %p.postmetadata
        Tags:
        = page.tag_links

      ~ content
      = page.disqus_comments
