!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title

    %link{ :href => "/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    - local_stylesheet_link_tag('local')
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }

    %link{:charset => "utf-8", :href => "http://c5.simulacre.org/css/mootact.css", :media => "screen", :rel => "stylesheet", :title => "MooTact", :type => "text/css"}/
    %link{:charset => "utf-8", :href => "http://c5.simulacre.org/css/main05.css", :media => "screen", :rel => "stylesheet", :title => "MooTact", :type => "text/css"}/
    /[if lte IE 8]
      <link rel="stylesheet" type="text/css" href="http://c5.simulacre.org/css/main-ie.css" />
      <link rel="stylesheet" type="text/css" href="http://c5.simulacre.org/css/mootact-ie6.css" />
    %script{:src => "http://use.typekit.com/hhg4anw.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}    

    %link{:href => "http://simulacre.org/xmlrpc.php", :rel => "pingback"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js", :type => "text/javascript"}
    %script{:src => "http://c5.simulacre.org/js/mootools/1.2.4.4-more.js", :type => "text/javascript"}
    %script{:src => "http://c5.simulacre.org/js/lighter/Lighter.js", :type => "text/javascript"}
    %script{:src => "http://c5.simulacre.org/js/mootact.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "http://c5.simulacre.org/js/moozoom.js", :type => "text/javascript"}
    :javascript
      window.addEvent("domready", function(){
      $("notify").set('highlight', {duration: 'long'});
      $('mootact_button') && $('mootact_button').addEvent("click", function(e){
          e && e.stop();
          $("notify").fade("out");
          new MooTact( {
            title 	: 'MooTact Contact Form',
             url		: "/send.json.php",
             onSuccess: function(){
                (function(){
                  $("notify").set('html', 'E-mail sent ... Thank you!' ).fade("in");
                  (function(){$("notify").highlight(); }).delay(750);
                }).delay(750);
              }
           }).show();
      });
      $$('code').light({ altLines: 'hover', flame: "mocha", fuel : "js", mode : "ol" });
      
      new MooZoom.Strict({ close: "top-right", imageRoot: "http://c5.simulacre.org/images/" });
      
      });
    %link{:href => "http://simulacre.org/feed/", :rel => "alternate", :title => "Simulacre » About Comments Feed", :type => "application/rss+xml"}/
    %link{:href => "http://simulacre.org/xmlrpc.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
    %link{:href => "http://simulacre.org/wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
    %link{:href => "http://simulacre.org", :rel => "index", :title => "Simulacre"}/
    %meta{:content => "WordPress 2.9.1", :name => "generator"}/
    %link{:href => "http://simulacre.org", :rel => "canonical"}/
    %link{:href => "http://disqus.com/stylesheets/simulacre/disqus.css?v=2.0", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body{ :class => [@body_class,'home','page','page-id-2','page-template-splash-php'] }
    #meta-nav
      %a#meta-logo{:href => "http://www.simulacre.org/"}
      %ul.horiz-nav
        %li.showing
          %a{:href => "/"} Blog
          %p.desc
            %a{:href => "/"} Javascript & Japan
        %li
          %a{:href => "http://www.simulacre.org/ee/"} PhotoBlog
          %p.desc
            %a{:href => "http://www.simulacre.org/ee/"} Kendo & Travel
        %li
          %a{:href => "http://www.kanjitastic.com/"} KanjiTastic
          %p.desc
            %a{:href => "http://www.kanjitastic.com/"} SRS Japanese Flashcards
        %li
          %a{:href => "/mootools-html5-audio-player/"} mtAudioPlayer
          %p.desc
            %a{:href => "/mootools-html5-audio-player/"} HTML5 Audio Player
        %li
          %a{:href => "/mootact"} MooTact
          %p.desc
            %a{:href => "/mootact"} Lightbox Contact Form
        %li
          %a{:href => "/meditastic-mp3s/"} MediTastic
          %p.desc
            %a{:href => "/meditastic-mp3s/"} Medical Terminology MP3s
        %li
          %a{:href => "http://mootools.net/forge/p/exitpoll"} ExitPoll
          %p.desc
            %a{:href => "http://mootools.net/forge/p/exitpoll"} Website Exit Tracking
        %li
          %a{:href => "http://impel.simulacre.org"} Impel
          %p.desc
            %a{:href => "http://impel.simulacre.org"} HTML5 ORM
      :javascript
        window.addEvent("domready", function(){
          $$(".horiz-nav li").each(function(li){
            var a = li.getFirst("a");
            if(!a) return;
            li.addEvent("click", function(){ window.location = a.get("href"); })
          });
        });
    #page-desc
      %h1
        %a{:href => "http://simulacre.org/"} 
          = @heading
      %p 
        = @subtitle

      %form#searchform{:action => "/", :method => "get"}
        %input#s{:name => "s", :onBlur => "if(this.value == '') this.value='Search'", :onFocus => "if(this.value == 'Search') this.value=''", :type => "text", :value => "Search"}
      %p#notify

    #content.clearfix
      = yield

    #footer
      %a{:href => "http://www.simulacre.org/"}
        %img{:src => "http://c5.simulacre.org/images/simulacreBadge0b.png"}/
      %p
        Powered by
        %a{ :href => "http://nestacms.com" } nesta


    :javascript
      //
      (function() {
      	var links = document.getElementsByTagName('a');
      	var query = '?';
      	for(var i = 0; i < links.length; i++) {
      	if(links[i].href.indexOf('#disqus_thread') >= 0) {
      		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      	}
      	}
      	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/mtap/get_num_replies.js' + query + '"></' + 'script>');
      })();
      //
    %script{:src => "http://c5.simulacre.org/js/exitpoll.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :type => "text/javascript"} new ExitPoll();

    = haml :analytics, :layout => false
