- if page.date
  %p.postmetadata
    Posted:
    - if page.date
      on
      %time(datetime="#{page.date.to_s}" pubdate=true)= format_date(page.date)
    - if (! page.categories.empty?)
      -# this doesn't seem to be working correctly. categories is always empty ...
      in
      - page.categories.each do |category|
        - if category != page.categories[-1]
          = succeed ',' do
            %a(href="#{category.abspath}")= category.heading
        - else
          %a(href="#{category.abspath}")= category.heading

- if page.keywords
  %p.postmetadata
    Tags:
    - page.keywords.split(",").each do |keyword|
      -# remove comma from the anchor
      -# use a helper to construct tags with necessary substitutions
      %a(href="/tag/#{keyword.gsub(/\s/,"-")}")= "#{keyword},"
